* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* main style */
header{
    padding-top: 16px;
    width: 100%;
    height: auto;
}
nav{
width: 86%;
max-width: 1360px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
header{
    width: 100%;
    height: 92px;
}
.logo{
align-items: center;    
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}
.menu{
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}
.btn{
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
} 
.btn:hover{
    background-color: #001931;
    transform: translateY(-3px);
    box-shadow:0 5px 15px #1a2936 (0,0,0,0.5);
}
.btn2:hover{
    background-color: #844613;
    transform: translateY(-3px);
    box-shadow:0 5px 15px #1a2936 (0,0,0,0.5);
}
.right-side{
    padding-top: 8px;
}
.hero-container{
position: relative;
justify-content: center;
align-items: center;
text-align: center;
color: #FFFFFF;
background-image: url(../assets/hero-bg.png);
background-size: cover;
background-position: center ;
overflow: hidden;
width: 100%;
height: 674px;
display: flex;

}
.hero-content{
position: relative;
width: 86%;
max-width: 1360px;
padding:  115px 120px 180px 120px;
margin-top: 0px;
}
.badge {
  display: inline-flex;
  align-items: center;
  background: #FFFFFF;
  color: #469165;
  padding: 8px 12px;
  border-radius: 10000px;
  font-size: 16px;
  border: 1px solid #FFFFFF;
  margin-bottom: 16px;
  max-width: 229px;
}

h1{
    line-height: 84px;
    font-size: 72px;
    font: bold;
    margin-bottom: 16px;
}
.highlight{
    color: #30B868;
}
p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}
.btn2{
    background-color: transparent;
    color: white;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    margin-left: 16px;
}

.notes{
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.main-notes h2{
   font-size: 48px;
   font: bold;
   color: #001931;
   margin-bottom: 16px;
   height: 116px;
   /* border: 1px solid red; */
   padding-top: 64px;
}
.main-notes p{
    color: #627382;
    margin-bottom: 44px;
    font-size: 16px;
}
.all-card{
    display: flex;
    gap: 24px;
}
  .card{
    color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px #00000013;
    border-radius: 8px;
    padding: 30px 20px;
    width: 322px;
    height: 300px;
} 
.card:hover{
    transform: translateY(-10px);
}
.card h3 {
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}
.card p {
    font-size: 16px;
    color: #627382;
}
.card-icon {
    background-color: #F95555; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 16px;
}
.card-icon img {
    width: 32px;
    height: 32px;
}

.second-container {
    margin-top: 120px;
    margin: 0 auto;
    max-width: 1360px;
    display: flex;
    justify-content: center;
}
.con{
    max-width: 1360px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.text-part{
    width: 700px;
    height: 396px;
    margin-top: 102px;
    margin-bottom: 102px;

}
.lebel{
    color: #469165;
    font-size: 16px;
    margin-bottom: 16px;
}
.top-text h1 {
    color: #001931;
    font-size: 48px;
    margin: 16px 0;
    line-height: 1.2;
}
.text-part p{
     color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.5;
}
.features {
    list-style: none;
}
.features li {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #001931;
    font-size: 16px;
    margin-bottom: 12px;

}
.last-part{
    max-width: 1360;
    width: 86%;
    border: 1px solid #F7F6F2;
    background-color: #F7F6F2;
    margin-top: 2px;
    margin:0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
    justify-content: center;
}
.end{
    margin: 80px 40px 24px 40px;
    max-width: 1280px;

}
.end h2{
   color: #001931;
   font-size: 40px;
   font: bold;
}
.end p{
   color: #627382;
   font-size: 16px;
   padding-top: 16px;
}
.footer-text{
    color: #627382;
    padding-top: 16px;
    padding-bottom: 45px ;
}
.footer-container {
  background-color: #001931;
  color: white;
  padding: 120px 120px 30px 120px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.main-logo {
  height: 60px;
  width: auto;
}

.social-section {
  text-align: right;
}

.social-title {
  font-size: 20px;
  font: 500;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.social-icons a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

.footer-line {
  border: 0;
  border-top: .5px solid #627382;
  margin-bottom: 30px;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
  color: #FAFAFA
}