* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* main style */
header{
    padding-top: 16px;
}
nav{
width: 86%;
max-width: 1360px;
/* border: 1px solid red; */
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.logo{
align-items: center;    
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}
.menu{
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}
.menu a{
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}
.btn {
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-style: 600px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-items: flex-end;
} 
.right-side{
    padding-top: 8px;
}